<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <% if params[:plan] == '2' %>
          <h1>Premium-Mitgliedschaft</h1>
          <p>Registrier dich als Premium-Mitglied und erhalte den vollen Zugang auf unsere Community!"</p>
        <% else %>
          <h1>Basic-Mitgliedschaft</h1>
          <p>Registrier dich für kostenlosen Zugang zu unserer Community!</p>
        <% end %>
      </div>
      <div class="well">
        <h2>Registrierung</h2>
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>