<div class="container text-block">
  <h1>Fakultät 73!</h1>
  <p>Werden Sie bei uns zum Software-Entwickler. In nur 2 Jahren.<br/><br/>


Bewerbungsphase für die 1st Generation der Fakultät 73 ist abgeschlossen.<br/>
<br/>
Wir planen einen weiteren Jahrgang. Sobald wir Informationen dazu kommunizieren können, erfahren Sie es hier.<br/>
<br/>
Sie müssen kein IT-Experte sein, um mit uns die Welt der Autos zu digitalisieren. Denn zu einem solchen qualifizieren wir Sie - und das in nur zwei Jahren. Wir bieten Ihnen mit Fakultät 73 ein Programm an, mit dem Sie zu einem waschechten Software-Entwickler werden. Und anschließend möchten wir Sie unbefristet übernehmen.
<br/><br/>
Das erwartet Sie:<br/>
Das erste Jahr dient der Grundlagenqualifizierung, während im zweiten Jahr die Spezialisierung und Projektphasen im Fokus stehen. Der Blick liegt dabei auf den späteren Einsatzbereichen und Aufgaben eines Software-Entwicklers bei der Volkswagen AG. Die Fakultät 73 betreut Sie in Ihrer zweijährigen Vollzeitqualifizierung und legt hierbei Wert auf einen intensiven Praxisbezug.
<br/><br/>
Qualifizierungsinhalte sind:
<br/><br/>
    - Programmieren in Java<br/>
    - Grundlagen technischer und theoretischer Informatik<br/>
    - Mathematik für Softwareentwickler<br/>
    - Englisch für Softwareentwickler<br/>
    - Projekt- und Zeitmanagement<br/>
    - Computernetze, Datenbanken<br/>
    - Echtzeitdatenverarbeitung<br/>
    - Mobile-App-Programmierung<br/>
    - Sie absolvieren die relevanten Quality Gates und Lernzielkontrollen<br/>
    - Sie arbeiten und programmieren in diversen Software-Entwicklungsprojekten aktiv mit<br/>
<br/>
Folgende Kompetenzen bringen Sie mit:<br/>
<br/>
- Sie sind IT-affin oder haben sich über Ihre bisherige Laufbahn oder auch im privaten Umfeld mit der Entwicklung oder dem Betrieb von Software und Hardware beschäftigt.<br/>
- Sie denken analytisch und haben Interesse an Logik und mathematischen Zusammenhängen.<br/>
- Sie setzen sich gern mit Problemstellungen auseinander, stellen sich immer wieder auf Neues ein und probieren verschiedene Lösungswege aus.<br/>
- Sie lernen gern, Konzentrationsfähigkeit und Durchhaltevermögen zeichnen Sie aus.<br/>
- Sie arbeiten gut zu zweit oder im Team.<br/>
- Sie sind tolerant und integer.<br/>
- Sie verfügen über sehr gute Deutschkenntnisse in Wort und Schrift; Englischkenntnisse sind von Vorteil.<br/>
<br/>
Fragen zum Programm können an fakultaet73@volkswagen.de gestellt werden..</p>
</div>