<div class="home-callout text-center container-fluid">
  <h1>Willkommen bei Fak73</h1>
  <h3>Eine Community für alle Teilnehmer undAbsolventen der Fakultät 73!</h3>
  Eine Übung von Joschka FÜrup.
</div>