<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Sie haben eine Nachricht über das Kontaktformular von  <%= "#{ @name }, #{ @email }." %> erhalten</p>
    <p><%= @body %></p>
    </body>
</html>